# Created by Leo from: C:\Development\Python22\Lib\site-packages\vb2py\vb2py.leo

include *.py
include *.txt
include *.ini
recursive-include targets *.*
recursive-include vb *.*
recursive-include doc *.html
recursive-include doc *.css
recursive-include doc *.gif
